<% include ../partials/header %>
<form class="ui form">
		<div class="field">
		    <label>Email</label>
		    <input name="email" placeholder="Email" type="email">
		</div>
  	</form>
<br><br>

<h1> Add a new Comment to <%= blog.title %> </h1>

<form action="/blogs/<%= blog._id %>/comments" method="POST">
	
	<input type="text" name="comment[text]" placeholder="Text">
	<button>Submit</button>
</form>

<% include ../partials/footer %>



