<% include ./partials/header %>

<div class="ui container blogBody loginForm">
	<h1 style="text-align:center ;font-size:3em"> Login Form </h1>
	<div class="ui raised segment">
		<div style="margin:2%">
		<form class="ui form"  action="/login" method="POST">
			<div class="field">
				<label>Username</label>
				<div class="ui right icon input">
					<i class="user icon"></i>
					<input type ="text" name="username" placeholder="Username">
				</div>
			</div>
			<div class="field">
				<label>Password</label>
				<div class="ui right icon input">
					<i class="lock icon"></i>
					<input type ="password" name="password" placeholder="Password">
				</div>
			</div>
			<button class="ui button green" type="submit">Submit</button>
		</form>
		<br>
		<div class="ui container">
			<div class="ui message">
		  	<div class="header" style="text-align:center;">
		    	New To Us? <a href="/register">SignUp</a>
		  	</div>
		</div>
		<div class="ui medium buttons" style="text-align:center;padding-left:17%;">
  			<a href="auth/google" class="medium ui google plus button">
  			<i class="large google plus icon"></i>
  				Google Plus
			</a>
  			<div class="or"></div>
  			<a href="auth/facebook" class="medium ui facebook button">
 			 <i class="large facebook icon"></i>
 			 	Facebook	
			</a>
		</div>
	</div>
</div>

<% include ./partials/footer %>